input[type='file'] {
    font-size: 15px;
}

label {
    font-family: Chewy;
    font-size: 20px;
}

h1 {
    font-family: Chewy;
    font-size: 70px;
    color: #4a2d24;
    text-align: center;
}

h2 {
    font-family: Annai MN;
    font-size: 20px;
    color: black;
    text-align: center;
}

body {
    url('/static/backgroundIMG.jpg')
}