.returnLinks {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.outputContainer {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 80%;
    height: 60%;
}

.PageLinks {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

a {
    padding: 1.25vw;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 1.25vw;
    text-decoration: none;
    color: #edf4ff;
    background-color: #264653;
    transition: all 0.4s ease;
    transform: scale(1);
}

a:hover {
    transform: scale(1.1);
    background-color: #244d75;
}