.TitleText {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 15%;
    background-color: #264653;
    color: #edf4ff;
}

.TitleText h1 {
    text-align: center;
    font-size: 5vw;
    font-family: Poppins;
}

.returnLinks {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.outputContainer {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

iframe {
    width: 80%;
    height: 80%;
}

.PageLinks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.PageLinks a {
    padding: 1vw;
    border-radius: 1vw;
    font-family: Poppins;
    font-size: 1.25vw;
    text-decoration: none;
    color: #edf4ff;
    background-color: #264653;
    transition: all 0.4s ease;
    transform: scale(1);
}

.PageLinks a:hover {
    transform: scale(1.1);
    background-color: #244d75;
}

@media (max-width: 600px) {
    .TitleText h1 {
        font-size: 30px;
    }

    .PageLinks a {
        font-size: 12px;
    }
}