h1 {
    text-align: center;
    font-size: 60px;
    font-family: Noto Sans Mono;
    color: #4a2d24
}

body {
    background-color: #dbbe9f;
}

.dropzone {
    border: none;
    margin: auto;
    width: 30%;
    height: 80%;
}

.bobbingScanner {
    animation: bobbing 1.3s linear infinite;
}

@keyframes bobbing {
    0% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    40% {
        transform: translateY(20px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0px);
    }
}

img {
    width: 100%;
    margin: auto;
}

a {
  padding: 10px;
  margin: 2%;
  text-decoration: none;
  background-color: #4a2d24;
  color: #dbbe9f;
  border-radius: 10px;
  text-align: center;
  font-family: Noto Sans Mono;
}

.PageLinks {
    text-align: center;
    transition: all 0.4s ease;
    transform: scale(1);
}

.PageLinks:hover {
    transform: scale(1.1)
}