h1 {
    text-align: center;
    font-size: 60px;
    font-family: Limelight;
    color: #4a2d24
}

body {
    background-color: #dbbe9f;
}

.dropzone {
    border: none;
    margin: auto;
    width: 30%;
}

img {
    width: 100%;
    margin: auto;
}

a {
  padding: 20px;
  text-decoration: none;
  background-color: #4a2d24;
  color: #dbbe9f;
  border-radius: 10px;
  text-align: center;
  font-family: Annai MN;
}

.PageLinks {
    text-align: center;
}

