h1 {
    text-align: center;
    font-size: 60px;
    font-family: Noto Sans Mono;
    color: #4a2d24
}

body {
    background-color: #dbbe9f;
}

.dropzone {
    border: none;
    margin: auto;
    width: 30%;
}

.GitHubLogo {
    position: absolute;
    background-color: transparent;
    width:5%;
}

img {
    width: 100%;
    margin: auto;
}

a {
  padding: 20px;
  text-decoration: none;
  background-color: #4a2d24;
  color: #dbbe9f;
  border-radius: 10px;
  text-align: center;
  font-family: Noto Sans Mono;
}

.PageLinks {
    text-align: center;
      transition: all 0.4s ease;
  transform: scale(1);
}

.PageLinks:hover {
  transform: scale(1.2)
}

iframe {
    width: 50%;
}