<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
        </style>

        <meta charset="UTF-8">
        <title> View Extracted Text </title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <h1> View Your Converted Document </h1>

        <iframe src="{{ url_for('static', filename='ExtractedText.txt') }}" title="Converted Text"></iframe>
    </body>
</html>