<!DOCTYPE html>
<html lang="en">
    <head>
        <script src= "https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"> </script>
        <link href= "https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel= "stylesheet" type= "text/css"/>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='uploadPageStyles.css') }}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Online Document Scanner </title>
    </head>
    <body>
        <div class="TitleText"> <h1> Scan Your Documents </h1> </div>
        <div class="uploadContainer">
            <form action="/upload" method="POST" class="dropzone" id="my-dropzone">
                <div class="uploadScanner"> <img src="/static/scannerIMG.png" alt="scanner"> </div>
                <div class="dz-message" data-dz-message> <span style="font-family:Poppins;"> To proceed, drop your document onto the scanner, or <b>click here</b> to upload. </span> </div>
            </form>
            <div class="PageLinks">
                <a class="home" href="{{ url_for('index') }}"> Return to Home Page</a>
            </div>
        </div>
    </body>

    <script>
        Dropzone.options.myDropzone = {
            maxFiles: 1,
            acceptedFiles: ".jpg, .jpeg, .png",
            success: function(file, response) {
                window.location.href = response.redirect;
            }
        }
        Dropzone.discover();
    </script>
</html>